body {
	background-color: #ffffff;
	font-color: #333333;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px 0px 8px 0px;
    height:99vh;
    display:flex;
    flex-direction: column;
}

#header {
	min-height: 180px;
	background-color: #1d365d;
	padding-top: 10px;
	padding-left: 8%;
	top: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    	box-sizing: border-box;
}

#contentWrapper {
	display: flex;
    flex:1;
}

#sideContent {
	display: fixed;
	width: 23%;
	margin: 0% 1% 0% 8%;
	background-color: #f7f7f8;
        min-height: 200px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-flex: initial;	
		flex: initial;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    	box-sizing: border-box;

}

#centerContent {
	overflow: auto;
	margin-left: 1%
	border-style: solid;
	border-left-width: 1px;
	border-left-color: #333333;
	width: 50%;
	-webkit-flex: none;
		flex: none;
}

#rightPlaceholder {
    overflow: hidden;	
}

#footer {
	display:block;
	text-align: center;
}

.headerTitle {
	font-size: 60px;
	color: #FFFFFF; 
	margin-top: 20px;
	margin-bottom: 0px;
	line-size: 1.5;

}

.headerSubtitle {
	font-size: 21px;
	color: #b9c8e0;
	font-style: italic;
	margin-top: 0;
}

.navHeader {
	font-size: 17.5px;
	font-weight: bold;
}

.navItem {
	font-size: 14px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format('woff');
}


